/*! --- FOOTER --- */
footer{
    background-color: antiquewhite;
    text-align: center;
    a{
        img{
            background-color: antiquewhite;
            padding: 30px;
            margin: 10px;
            border: 5px solid black;
            width: 100px;
            height: 100px;
        }
    }
    p{
        margin: 0%;
    }
}