/*! --- RESET --- */
*{
    font-weight: lighter;
    font-family: Lobster;
    box-sizing: border-box;
}
//! VARIABLE
$color-principal: black; 
$color-principal: white; 
$color-principal: antiquewhite; 
$color-principal: rgb(243, 145, 16); 

//! LISTAS

//! OPERACIONES

//! MAPAS

//! EXTENDS